<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <link th:href="@{~/element-ui/index.css}" rel="stylesheet" />
    <script type="application/javascript" th:src="@{~/js/vue.js}"></script>
    <script type="application/javascript" th:src="@{~/js/vue-resource.js}"></script>
    <script type="application/javascript" th:src="@{~/element-ui/index.js}"></script>
    <script type="application/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <title>用户管理</title>
</head>
<body>
<div id="listPanel">
    <el-table
            :data="tableData"
            border
            stripe
            style="width: 100%">
        <el-table-column
                prop="date"
                label="日期"
                width="180">
        </el-table-column>
        <el-table-column
                prop="name"
                label="姓名"
                width="180">
        </el-table-column>
        <el-table-column
                prop="address"
                label="地址">
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
</body>
</html>
<script type="application/javascript">
    var listApp=new Vue({
        el:"#listPanel",
        data:{
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1517 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1519 弄'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1516 弄'
            }],
            pager:{
                pageSize:10,
                currentPage:1,
                totalCount:0
            }
        },
        methods:{
            loadListData:function () {

            },
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            }
        }
    });
    listApp.loadListData();
</script>