<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <link th:href="@{~/element-ui/index.css}" rel="stylesheet" />
    <script type="application/javascript" th:src="@{~/js/vue.js}"></script>
    <script type="application/javascript" th:src="@{~/js/vue-resource.js}"></script>
    <script type="application/javascript" th:src="@{~/element-ui/index.js}"></script>
    <script type="application/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <title>角色管理</title>
    <style>
        .custom-tree-node {
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            padding-right: 8px;
        }
    </style>
</head>
<body>
<div id="listPanel">
    <div style="width:500px;">
        <el-input
                placeholder="输入角色关键字" clearable
                v-model="filterText" size="small">
            <template slot="prepend">角色名称：</template>
        </el-input>
    </div>
    <el-dialog :title="roleDialogTitle" :visible.sync="dialogRoleVisible">
        <el-form :model="formRole" :rules="rulesRole" ref="formRole"  label-width="100px">
            <el-form-item label="上级名称">
                <el-tag>{{formRole.parentName}}</el-tag>
            </el-form-item>
            <el-form-item label="角色名称" prop="rolename">
                <el-input v-model.trim="formRole.rolename" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="显示顺序" prop="roleno">
                <template>
                    <el-input-number v-model="formRole.roleno" :min="1" :max="100" label="显示顺序"></el-input-number>
                </template>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogRoleVisible = false">取 消</el-button>
            <el-button type="primary" @click="updateRole('formRole')">保 存</el-button>
        </div>
    </el-dialog>
    <el-dialog :title="roleUserDialogTitle" :visible.sync="dialogRoleUserVisible">
        <el-table
                :data="userListData"
                border
                stripe
                fit="true"
                style="width: 100%">
            <el-table-column type="index" label="序号" width="60px"></el-table-column>
            <el-table-column
                    prop="userId"
                    label="用户ID">
            </el-table-column>
            <el-table-column
                    prop="userName"
                    label="用户名">
            </el-table-column>
            <el-table-column
                    prop="realName"
                    label="真实姓名">
            </el-table-column>
            <el-table-column
                    prop="isLock"
                    label="是否锁定">
                <template slot-scope="scope">
                    <span class="red" v-if="scope.row.isLock==1"><b>锁定</b></span>
                    <span class="green" v-else-if="scope.row.isLock==0"><b>正常</b></span>
                </template>
            </el-table-column>
        </el-table>
        <div align="center">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="pager.currentPage"
                    :page-sizes="[5,10,20,30]"
                    :page-size="pager.pagesize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pager.totalCount">
            </el-pagination>
        </div>
    </el-dialog>
    <div class="block">
        <el-tree
                ref="tree"
                :data="treedata"
                node-key="id"
                draggable
                @node-drag-start="handleDragStart"
                @node-drag-enter="handleDragEnter"
                @node-drag-leave="handleDragLeave"
                @node-drag-over="handleDragOver"
                @node-drag-end="handleDragEnd"
                @node-drop="handleDrop"
                :allow-drag="allowDrop"
                :allow-drop="allowDrag"
                :filter-node-method="filterNode"
                :props="defaultProps">
      <span class="custom-tree-node" slot-scope="{ node, data }">
        <i :class="el-icon-tickets"></i>
        <span>{{ node.label }}</span>
        <span style="margin-left: 12px;">
          <el-button type="text" size="mini" @click.stop="append(data)">添加</el-button>
          <el-button type="text" size="mini" @click.stop="edit(data)">编辑</el-button>
          <el-button type="text" size="mini" @click.stop="remove(node, data)">删除</el-button>
          <el-button type="text" size="mini" @click.stop="viewUser(data)">查看用户</el-button>
            <el-button type="text" size="mini" @click.stop="editMenu(data)">设置菜单</el-button>
        </span>
      </span>
        </el-tree>
    </div>
</div>
</body>
</html>
<script type="application/javascript">
    var listApp=new Vue({
        el:"#listPanel",
        data:{
            treedata: [],
            userListData:[],
            defaultProps:{
                children: 'children',
                label: 'label'
            },
            roleDialogTitle:"新增角色",
            roleUserDialogTitle:"角色关联列表",
            dialogRoleUserVisible:false,
            dialogRoleVisible:false,
            filterText: '',
            emulateJSON:false,
            pager:{
                pageSize:10,
                currentPage:1,
                totalCount:0
            },
            formRole:{
                rolename:"",
                roleno:1,
                parentName:"",
                id:0,
                pid:0
            },
            rulesRole:{
                rolename:[ { required: true, message: '请输入角色名称', trigger: 'blur' }]
            },
            tmpAddData:null,
            treeurl:"/role/childlist/"
        },
        watch:{
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        methods:{
            loadListData:function () {
                window.parent.app.loadingSwitch(true);
                this.$http.get(this.treeurl+"0").then(function(res) {
                    this.treedata = res.data;
                });
                window.parent.app.loadingSwitch(false);
            },
            filterNode(value, data) {
                if (!value) return true;
                return data.label.toLowerCase().indexOf(value.toLowerCase()) !== -1;
            },
            append(data) {
                this.dialogRoleVisible=true;
                this.formRole.parentName=data.label;
                this.formRole.pid=data.id;
                this.formRole.rolename="";
                this.formRole.roleno=1;
                this.roleDialogTitle="新增角色";
                this.tmpAddData=data;
            },
            edit(data) {
                this.$http.get("/role/get/"+data.id).then(function(res2){
                    this.dialogRoleVisible=true;
                    this.formRole.parentName=res2.data.parentName;
                    this.formRole.rolename=data.label;
                    this.formRole.pid=res2.data.parentId;
                    this.formRole.id=data.id;
                    this.roleDialogTitle="编辑角色";
                    this.tmpAddData=data;
                },function(){
                    alert("同步失败！");
                });

            },
            viewUser(data){
                //查看用户
                this.dialogRoleUserVisible=true;
                this.roleUserDialogTitle="角色【"+data.label+"】用户列表";
                window.parent.app.loadingSwitch(true);
                var paramsJson={
                    userId:data.id,
                    pageNum:this.pager.currentPage,
                    pageSize:this.pager.pageSize};
                this.$http.post("/user/userlist/roleid",paramsJson).then(function(res) {
                    this.userListData = res.data.datalist;
                    this.pager.totalCount = res.data.number;
                });
                window.parent.app.loadingSwitch(false);
            },
            editMenu(data){
                //关联菜单

            },
            remove(node, data) {
                //判断是否有子项
                if(data.children.length>0)
                {
                    alert("请先删除子项!");
                }
                else
                {
                    this.$http.get("/role/del/"+data.id).then(function(res2){
                        window.parent.app.loadingSwitch(false);
                        if(res2.data>0) {
                            alert("操作成功");
                            node.remove();
                        }
                        else
                        {
                            alert("操作失败");
                        }
                    },function(){
                        alert("同步失败！");
                        window.parent.app.loadingSwitch(false);
                    });
                }
            },
            updateRole:function (formName) {
                var isValid=true;
                this.$refs[formName].validate(function(valid){
                    if (!valid) {
                        isValid=false;
                        return false;
                    }
                });
                if(!isValid)
                {
                    return;
                }
                //提交
                var tmpRoleName=this.formRole.rolename;
                var dataJson={"roleName":tmpRoleName,"parentId":this.formRole.pid,"id":this.formRole.id,"orderNo":this.formRole.roleno};
                this.$http.post("/role/edit",dataJson).then(function(res2){
                    window.parent.app.loadingSwitch(false);
                    if(res2.data>0) {
                        var newItem={id:res2.data,label:tmpRoleName,children:[]};
                        //新增
                        if(this.formRole.id<=0)
                        {
                            this.tmpAddData.children.push(newItem);
                        }
                        else
                        {
                            this.tmpAddData.label=tmpRoleName;
                        }
                        this.$refs[formName].resetFields();
                        this.dialogRoleVisible=false;
                        alert("操作成功");
                    }
                    else if(res2.data<0)
                    {
                        alert("当前节点下已存在【"+this.formRole.rolename+"】");
                    }
                    else
                    {
                        alert("操作失败");
                    }
                },function(){
                    alert("同步失败！");
                    window.parent.app.loadingSwitch(false);
                });
            },
            allowDrop(draggingNode, dropNode, type) {
                //目标节点能否被放置
                /*if(type=='inner')
                {
                    return false;
                }
                else {*/
                    return true;
                //}
            },
            allowDrag(draggingNode) {
                //节点能否被拖拽
                if(draggingNode.level==1)
                {
                    return false;
                }
                else {
                    return true;
                }
            },
            handleDragStart(node, ev) {
                //console.log('drag start', node);
            },
            handleDragEnter(draggingNode, dropNode, ev) {
                //console.log('tree drag enter: ', dropNode.label);
            },
            handleDragLeave(draggingNode, dropNode, ev) {
                //console.log('tree drag leave: ', dropNode.label);
            },
            handleDragOver(draggingNode, dropNode, ev) {
                //console.log('tree drag over: ', dropNode.label);
            },
            handleDragEnd(draggingNode, dropNode, dropType, ev) {
               //console.log('tree drag end: ', dropNode && dropNode.label, dropType);
            },
            handleDrop(draggingNode, dropNode, dropType, ev) {
                var tmpDropParent=-1;
                var tmpNewNodeId=dropNode.data.id;
                var tmpOldNodeId=draggingNode.data.id;
                if(dropType=='inner')
                {
                    tmpDropParent=dropNode.data.id;
                }
                var dataJson={"id":tmpOldNodeId,'dragNodeId':tmpNewNodeId,"parentId":tmpDropParent,"dragType":dropType};
                this.$http.post("/role/drag",dataJson).then(function(res2){
                    window.parent.app.loadingSwitch(false);
                    if(res2.data>0) {
                        alert("操作成功");
                    }
                    else
                    {
                        alert("操作失败");
                    }
                },function(){
                    alert("同步失败！");
                    window.parent.app.loadingSwitch(false);
                });
            }
        }
    });
    listApp.loadListData();
</script>