<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fz.admin.dao.MenuDao">
    <select id="getMenuListByUid"  resultType="com.fz.admin.entity.Menu" parameterType="java.lang.Integer">
        SELECT sm.id,sm.menuname name,sm.parentid pid,sm.icon,sm.path url FROM sys_user_role sur LEFT JOIN sys_role sr ON sur.roleid=sr.id
  LEFT JOIN sys_role_menu srm ON sr.id=srm.roleid
  LEFT JOIN sys_menu sm ON srm.menuid=sm.id
  WHERE sur.datastate=1 AND srm.datastate=1 AND sm.datastate=1
AND sm.showtype=0 AND sur.userid=#{uid,jdbcType=INTEGER} GROUP BY sm.id ORDER BY sm.orderno
    </select>
    <select id="getIsHavePower" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT sm.id FROM sys_user_role sur LEFT JOIN sys_role_menu srm ON sur.roleid=srm.roleid
  LEFT JOIN sys_menu sm ON srm.menuid=sm.id
  WHERE sur.datastate=1 AND srm.datastate=1 AND sm.datastate=1
  AND sur.userid=#{userId,jdbcType=INTEGER} AND sm.path=#{menuPath,jdbcType=VARCHAR};
    </select>
    <select id="getMenuTreeList"  resultType="com.fz.admin.entity.MenuTreeEntity" parameterType="java.lang.Integer">
        SELECT id,sm.menuname label FROM sys_menu sm WHERE sm.parentid=#{id} AND sm.datastate=1 ORDER BY sm.orderno
    </select>
    <select id="getMenuListByPid" parameterType="java.lang.Integer" resultType="com.fz.admin.entity.MenuTableEntity">
        SELECT id,sm.menuname name,sm.parentid pid,sm.icon,sm.path,sm.orderno,sm.showtype,sm.addtime FROM sys_menu sm WHERE sm.parentid=#{pid}
    </select>
</mapper>